# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Log files
*.log

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# OS junk
.DS_Store
Thumbs.db
